*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.banner-bg{
    background: url(images/donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 260px;
    margin: 0;
    padding: 0;
}
.pragraph{
   padding-left: 200px; 
   padding-right: 200px;
   text-align: center;
    padding-bottom: 20px;
    color: lightslategray;
}
p{
    color: black;
}
.banner-content{
    margin: 100px;
    padding: 100px;
    height: 300px;
    length: 400px
}

.donate-button{  
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 10px 30px;
    background-color: palevioletred;
}
.Button-pos{
    justify-content: center;
    display: flex;
    padding-top: 10px;
}
.h1-banner{
font-size: 50px;
color: white;
text-align: center;
}
.body-content{
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
    display: flex;
    padding-top: 10px;
}
.amount-box{
    display: flex;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: center;
}
.box-size{
    width:70px;
    height: 70px;
    background-color: #FAFAFA;
    text-align: center;
    margin-left: 5%;
}
.box-shadow{
    box-shadow:  2px 4px 8px gray;
}
#selected-box{
    border: 1px solid red;
    background-color: rgb(235, 198, 204);
}
.amount{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
} 
.amount-button{
    text-decoration: none;
    color: gray;
    font-weight: 700;
    justify-content: center;
    display: flex;
    padding-top: 20px;
}
.other-amount{
    text-decoration: none;
    color: gray;
    font-weight: 400;
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
    text-align: center;
}
input[type=text] {
    width: 100%;
    padding: 12px 12px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gray;
  }
.donate-plan{
    display: flex;
    padding-bottom: 50px;
    padding-top: 20px;
    

}
.plan-box1{
    width:400px;
    margin-left: 5%;
    height: 250px;
    background-color: #d5ecee;
    float: left;  
}
.plan-box2{
    width:400px;
    margin-left: 5%;
    height: 250px;
    background-color: #f1dede;
    float: left;  
}
.plan-box3{
    width:400px;
    margin-left: 5%;
    height: 250px;
    background-color: #f5e5ba;
    float: left;  
}

.plan-box1 img{
    padding-top: 40px;
    padding-left: 20px;
}
.plan-box2 img{
    padding-top: 40px;
    padding-left: 20px;
}
.plan-box3 img{
    padding-top: 40px;
    padding-left: 20px;
}
.plan-box-content{
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 10px;
}
.mid-content{
    display: flex;
    margin-bottom: 10px;
    padding-top: 100px;
}
.mid-cont-half{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.mid-cont-half img{
    width: 100%;

}
.Button-contribute{
    justify-content: center;
    display: flex;
    padding-top: 10px;
    float: left;
}


.summery-img{
      background-image: url(images/donation-x.png);
      height: 550px;
      margin-top:  100px;
     margin-bottom: 80px;
     display: flex;
}
.summery-content1{
    width: 50%;
    float: right;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.summery-content1 h1{
    text-align: left;
    font-size: 30px;
    color: gray;
}
.summery-content2{
    width: 50%;
    float: left;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    
    
}
.summery-content2 h1{
    text-align: left;
    font-size: 30px;
    color: gray;
    
}
hr{ 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 30%;
    float: left;
  } 
.history-div{
    padding-bottom: 40px;
}
.history-div h1{
    color: black;
    font-size: 20px;
}
.note{
    padding-top: 100px;
}

.updates{
    justify-content: center;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 50px;
    color: black;
    margin-top: 80px;
}
.mail-form{
    width: 100%;
    background-color: antiquewhite;
    height: 200px;
    margin-bottom: 50px;
    
}
.Button-pos1{
    padding-top: 80px;
}

#footer-bg{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    margin: 0;
    padding: 0;
}
.footer-content{
    padding-top: 20px;
    text-align: center;
    color: white;

}